{% include "header.html" %}
<!-- 公告 -->>
<!-- <div class="notice-bar" id="notice-bar">
    <p>要添加请在仓库提交 <a href="https://github.com/Kemeow0815/rssblog/issues" target="_blank">issue</a></p>
    <button class="notice-close" onclick="closeNotice()" aria-label="关闭通知">&times;</button>
</div> -->
<div id="top-header" class="container">
    <main class="main">
        {% include "title.html" %}
        <p class="updatetime">
            Last setup at {{ meta.updatetime }}
        </p>
        <p class="updatetime">
            update policy 0 */3 * * * *
        </p>
        {% block content %}{% endblock %}
    </main>
</div>
{% include "action.html" %}
{% include "footer.html" %}
