<div class="menu">
    <a href="/{% if id %}{{ id }}{% endif %}" class="menuhome normalink">首页</a>
    &nbsp;&nbsp;
    <a href="/{% if id %}{{ id }}/{% endif %}member" class="menumember normalink">成员</a>
    &nbsp;&nbsp;
    <a href="/{% if id %}{{ id }}/{% endif %}date" class="menumember normalink">日期</i></a>
    &nbsp;&nbsp;
    <a href="https://www.travellings.cn/go.html" class="menuhome normalink">开往</a>
    &nbsp;&nbsp;
    <a href="javascript:void(0);" class="menuhome normalink menu-action-random" title="随机文章"><i class="fa fa-random" aria-hidden="true"></i> 随机文章</a>
    &nbsp;&nbsp;
    <a href="/{% if id %}{{ id }}/{% endif %}rss" class="menumember normalink">订阅</i></a>
    &nbsp;&nbsp;
    <!-- <a href="/about" class="menumember normalink">About</a> -->
</div>