<div class="menu">
    <a href="/{% if id %}{{ id }}{% endif %}" class="menuhome normalink">首页</a>
    &nbsp;&nbsp;
    <a href="/{% if id %}{{ id }}/{% endif %}member" class="menumember normalink">成员</a>
    &nbsp;&nbsp;
    <a href="/{% if id %}{{ id }}/{% endif %}date" class="menumember normalink">日期</i></a>
    &nbsp;&nbsp;
    <a href="https://www.travellings.cn/go.html" class="menuhome normalink">开往</a>
    &nbsp;&nbsp;
    <a href="javascript:void(0);" class="menuhome normalink menu-action-random"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="vertical-align: middle;"><path fill="currentColor" fill-rule="evenodd" d="M4 17a1 1 0 0 1 0-2h2l3-3l-3-3H4a1.001 1.001 0 0 1 0-2h3l4 4l4-4h2V5l4 3.001L17 11V9h-1l-3 3l3 3h1v-2l4 3l-4 3v-2h-2l-4-4l-4 4z"/></svg></a>
    &nbsp;&nbsp;
    <a href="/{% if id %}{{ id }}/{% endif %}rss" class="menumember normalink">订阅</i></a>
    &nbsp;&nbsp;
    <!-- <a href="/about" class="menumember normalink">About</a> -->
</div>
